body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 51, 40);
    color: rgb(0, 255, 200);
}

#login {
    display: flex;

    @media (min-width: 640px) {
        flex-flow: row;
        
        .form.login {
            width: 50%;
        }

        .form.register {
            width: 50%;
        }
    }

    @media (max-width: 641px) {
        flex-flow: column;
    }    
}

label.formelement {
    display: flex;
    width: 100%;

    span {
        width: 50%;
        text-transform: capitalize;
    }

    input {
        width: 50%;
        border: 0;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 4px;
        border-radius: 4px;
    }
}

.form {
    display: flex;
    flex-flow: column;

    h1 {
        margin: 2px 0;
    }

    label.formelement {
        margin: 2px 0;
    }

    .button {
        margin-top: auto;
        align-self: flex-end;
    }

    background-color: rgb(0, 255, 200);
    color: black;
    margin: 4px;
    padding: 8px;
    border-radius: 8px;
}

.button {
    min-width: 120px;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    border: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        background-color: rgba(0, 0, 0, 0.1);
        color: darkgray;
    }

    &:enabled {

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }

        &:active {
            background-color: rgba(255, 255, 255, 1.0);
        }
    }
    
    &.oneusebutton {
        &.working {
            color: black;
            &.dark {
                color: white;
            }
        }

        &.error {
            color: red;
        }

        &.done {
            color: green;
        }

        i::after {
            content: " ";
        }
    }

    &.addgamebutton {
        background-color: transparent;
        color: rgb(0, 51, 40);
        margin: 2px;
        padding: 6px;
        border: 2px dashed rgb(0, 255, 200);
        color: rgb(0, 255, 200);
        border-radius: 8px;
        font-size: medium;
        text-align: left;
    }
}

.ratingwidget {
    margin-right: 6px;
}

.progresswidget {
    margin-left: auto;
}

.gamecopy {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 2px;
    padding: 8px;
    border-radius: 8px;
    transition-duration: 0.5s;

    .clickableicon {
        margin: 1px;
        color: rgba(0, 0, 0, 0.2);

        &.editable:hover, &.editable.selected:not(.not_started):not(.unrated) {
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

        &.editable:active {
            color: rgba(0, 0, 0, 1);
        }

        &:not(.editable):not(.selected), &:not(.editable).unrated, &:not(.editable).not_started {
            display: none;
        }
    }

    &.loved {
        background-color: rgb(255, 115, 255);
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: x-large;
    }

    &.liked {
        background-color: rgb(0, 255, 200);
    }

    &.mixed {
        background-color: rgb(255, 255, 100)
    }

    &.disliked {
        background-color: rgb(255, 100, 100)
    }

    .gameplatform {
        color: rgba(0, 0, 0, 0.3);
        margin-left: 6px;

        &::before {
            content: "(";
        }

        &::after {
            content: ")";
        }
    }
}

.profile {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .button {
        &.editbutton {
            display: inline;
            font-weight: normal;
        }
        
        &.addgamebutton {
            display: block;
            font-size: medium;
        }

        width: initial;
        vertical-align: text-bottom;
        background-color: rgb(0, 255, 200);
        color: black;

        &:disabled {
            background-color: rgba(0, 255, 200, 0.3);
        }

        &:enabled {    
            &:hover {
                background-color: rgb(130, 255, 228);
            }
    
            &:active {
                background-color: rgb(255, 255, 255);
            }
        }
    }
}